// imports
@import "variables";
@import "reset";
@import "mixins";

// global
* {
  font-family: $font-family-primary;
  transition: all 0.3s ease;
}

body {
  font-size: $font-size-medium;
  color: $gray-1000;
  background-color: $gray-100;
  max-height: 100vh;

  // scroll width
  &::-webkit-scrollbar {
    width: 0.28rem;

    // color
    &-track {
      background: var(--color-gray-10, #fff);
    }

    // thumb
    &-thumb {
      background: var(--color-gray-70, #7e7e7e);
      border-radius: 0.25rem;
    }
  }
}

h1 {
  color: var(--color-gray-100, #202020);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
}

h2 {
  color: $gray-1000;
  flex: 1 0 0;
  font-size: $font-size-medium;
  font-style: normal;
  font-weight: 500;
}

h3 {
  color: $gray-1000;
  flex: 1 0 0;
  font-size: $font-size-small;
  font-style: normal;
  font-weight: 500;
}

img {
  object-fit: cover;
  cursor: pointer;
}

// set textarea and input styles
textarea,
input {
  outline: none;
  border: none;
  width: 100%;
  color: $gray-700;
  font-size: $font-size-small;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recharts-wrapper * {
  outline: none;
}
