// mixins
@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: 1rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-row($direction: row, $justify: center, $align: center, $gap: 1rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-col {
  @include flex(column, center, center, 0);
}

@mixin flex-center(
  $direction: row,
  $justify: center,
  $align: center,
  $stretch: stretch,
  $gap: 1rem
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  align-self: $stretch;
  gap: $gap;
}

// icon size
@mixin icon-size($width: 1.6rem, $height: 1.6rem) {
  width: $width;
  height: $height;
}

// border mixin
@mixin border(
  $width: 1px,
  $style: solid,
  $color: rgba(197, 197, 197, 0.5),
  $border-radius: 8px
) {
  border: $width $style $color;
  border-radius: $border-radius;
}
