.simple_input {
  display: flex;
  width: 32.375rem;
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 0.5px solid var(--primary-border, #a899f1);
  background: var(--color-gray-10, #fff);
  overflow: hidden;
  color: var(--color-gray-50, #3f3f3f);
  text-overflow: ellipsis;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}

.error_input {
  display: flex;
  width: 32.375rem;
  height: 2.5rem;
  padding: 0.75rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--Danger-main, #ba1717);
  background: var(--color-gray-10, #fff);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: var(--color-gray-50, #363636);
  text-overflow: ellipsis;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}
